<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477360753977-ap6kfhu5f96pkkghudqr5e5idkbm78f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477360753977-ap6kfhu5f96pkkghudqr5e5idkbm78f5</string>
	<key>API_KEY</key>
	<string>AIzaSyC38OXmawnUzlEB6kniPSaecIPxjjQ3Hvk</string>
	<key>GCM_SENDER_ID</key>
	<string>477360753977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siphowngom.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-25bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-25bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477360753977:ios:a2031a77478f5e6d09ece8</string>
</dict>
</plist>